body {
    background-color: #ddd;
    font-family: "Roboto";
    margin: 0px;
}

.header {
    align-items: center;
    background-color: #333;
    color: #fff;
    display: flex;
    font-size: 40px;
    height: 50px;
    justify-content: center;
    margin-bottom: 50px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header > .title-icon {
    color: #f00;
    margin-right: 10px;
}

.channel-header {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #aaa;
    display: inline;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 50px;
    padding: 5px;
    padding-right: 8px;
}

.channel-avatar {
    border-radius: 50%;
    height: 70px;
    margin-left: -20px;
    width: 70px;
    vertical-align: middle;
}

.channel-title {
    margin-left: 8px;
}

.channel-header > .youtube-icon {
    color: #999;
    cursor: pointer;
    font-size: 32px;
    margin-left: 20px;
    vertical-align: middle;
}

.channel-header > .icon-arrow {
    color: #999;
    cursor: pointer;
}

.channel.hidden .icon-arrow {
    transform: rotate(270deg);
}

.channel-header > .icon-arrow:hover {
    color: #666;
}

.youtube-icon:hover {
    color: red;
}

.channel.hidden > .videos {
    display: none;
}

.channel.hidden {
    margin-bottom: 20px;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    margin-bottom: 30px;
    margin-top: 20px;
}

.loading-wrapper {
    align-items: center;
    color: #999;
    display: flex;
    font-size: 35px;
    height: 160px;
    justify-content: center;
}

.video {
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 8px 3px #aaa;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    width: 288px;
}

.video:hover {
    cursor: pointer;

    box-shadow: 0px 0px 8px 3px #666;
}

.video.today {
    background-color: yellow;
}

.video.hidden {
    display: none;
}

.video-title {
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 5px;
}

.video-thumbnail {
    width: 100%;
}

.video-info, .video-duration {
    position: absolute;

    bottom: 5px;

    color: #666;
    font-size: 14px;
}

.video-info {
    font-style: italic;
    padding-left: 5px;
}

.video-info .icon-calendar {
    margin-right: 3px;
}

.video-duration {
    font-weight: bold;
    right: 5px;
}

.video-duration .icon-clock {
    margin-right: 3px;
}
