body {
    background-color: #ddd;
    font-family: "Roboto";
}

.channel {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #aaa;
    display: inline;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 50px;
    padding: 5px;
    padding-right: 8px;
}

.channel-avatar {
    border-radius: 50%;
    height: 70px;
    margin-left: -20px;
    width: 70px;
    vertical-align: middle;
}

.channel-title {
    margin-left: 8px;
}

.youtube-icon {
    color: #999;
    cursor: pointer;
    font-size: 32px !important;
    margin-left: 20px;
    vertical-align: middle;
}

.youtube-icon:hover {
    color: red;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    margin-bottom: 30px;
    margin-top: 20px;
}

.video {
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 8px 3px #aaa;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    width: 288px;
}

.video:hover {
    cursor: pointer;

    box-shadow: 0px 0px 8px 3px #666;
}

.video-title {
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
}

.video-thumbnail {
    width: 100%;
}

.video-info, .video-duration {
    position: absolute;

    bottom: 5px;

    color: #666;
    font-size: 14px;
}

.video-info {
    font-style: italic;
    padding-left: 5px;
}

.video-duration {
    font-weight: bold;
    right: 5px;
}
